@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-size: 48px;
  --h1-size: 28px;
  --h2-size: 22px;
  --h3-size: 20px;
  --headline-size: 17px;
  --normal-size: 16px;
  --subhead-size: 12px;
  --small-text-1: 12px;
  --smale-text-2: 11px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
